-
  tbAboutUs = [
    {
      title: "About us",
      desc: "DEPPTOKEN Short-term Trading for Ultimate Value is akin to a Stock Brokerage Firm, which trades with different crypto currencies in different cryptocurrency exchanges, on behalf of clients who had invested in the DEPPTOKEN currency to do short-term leveraged trading in the cryptocurrency exchanges. Our platform is where traders can take advantage of the recommendations from available knowledge to do short-term trading in which both profit and loss are optimized. DEPPTOKEN Platform for Short-term Leverage Trading helps in enabling trading on different exchanges instead of trading on a single exchange.",
      pdfData: {
        title: "White paper",
        image: "./assets/images/icon-1.svg",
        desc: "View online white paper",
        url: "./assets/uploads/SUV-WhitePaper.pdf"
      }
    }
  ];
