-
  tbAboutUs = [
    {
      title: "About us",
      desc: "Coming from experience DEV team with great fantasies of ruling the world, DEPP Token opens up opportunities to earn buck loads of gold while exploring the pirate life roaming the oceans.",
      pdfData: {
        title: "White paper",
        image: "./assets/images/icon-1.svg",
        desc: "View online white paper",
        url: "./assets/uploads/SUV-WhitePaper.pdf"
      },
      listData: [
        {
          title: "Fair Community Launch",
          desc: "Depp Tokens are sold via a fair launch for anyone in the community to buy without any pre-sale. This gives anyone a chance to buy in early."
        },
        {
          title: "Automatic Liquidity Pool",
          desc: "On top of redistribution, a further 5% transaction deduction is applied to grow liquidity pool. This helps stabilize the token price over time."
        },
        {
          title: "Supply Deflation",
          desc: "Token redistribution applies to the 50% burn wallet as well, burning Boss Tokens with each transaction. This helps raise the price floor over time."
        },
        {
          title: "Rewards For Holding",
          desc: "Holders receive a share of 5% fees applied to every transaction. Essentially taxing swing traders, while rewarding holding."
        },
        {
          title: "Trustworthy Trading",
          desc: "$DEPP is listed on Unicrypt - a trusty platform for trading. Additionally, our Smart Contract is audited for extra trading security and performance solidity."
        },
        {
          title: "Team",
          desc: "$DEPP is built by a strong team of crypto experts that aim to build a sustainable, long term token bringing innovative ideas into the crypto ocean."
        }
      ]
    }
  ];
