-
  tbCryptoExchanges = [
    {
      title: "Bitmex",
      image: "./assets/images/vendor-1.png"
    },
    {
      title: "Binance",
      image: "./assets/images/vendor-2.png"
    },
    {
      title: "Bittrex",
      image: "./assets/images/vendor-3.png"
    },
    {
      title: "Bybit",
      image: "./assets/images/vendor-4.png"
    },
    {
      title: "Coinbase",
      image: "./assets/images/vendor-5.png"
    }
  ];
