-
  tbHero = [
    {
      title: "THE DEPP MEME COIN",
      image: "./assets/images/hero-token.png",
      desc: "The DEPP Token is a community driven DeFi Cryptocyrrency, with the aim to become the Captain of all Meme Coin!",
      bgBanner: "./assets/images/stars.svg"
    }
  ];
