-
  tbHead = {
    title: "DEPPTOKEN Short-term Trading for Ultimate Value - DEPPTOKEN.IO",
    description: "DEPPTOKEN Short-term Trading for Ultimate Value is akin to a Stock Brokerage Firm, which trades with different crypto currencies in different cryptocurrency exchanges, on behalf of clients who had invested in the DEPPTOKEN currency to do short-term leveraged trading in the cryptocurrency exchanges.",
    keywords: "DEPPTOKEN, Cryptocurrency, Ultimate, Platform, Blockchain, Trading",
    site: "https://depptoken.io/",
    image: "https://depptoken.io/assets/images/depptoken.io.png"
  }
