-
  tbHead = {
    title: "THE DEPP MEME COIN",
    description: "The DEPP Token is a community driven DeFi Cryptocyrrency, with the aim to become the Captain of all Meme Coin!",
    keywords: "DEPPTOKEN, Cryptocurrency, Ultimate, Platform, Blockchain, Trading",
    site: "https://depp-token.com/",
    image: "https://depp-token.com/assets/images/depp-token.com.png"
  }
