-
  tbHero = [
    {
      title: "DEPPTOKEN<br />Short-term Trading for Ultimate Value",
      image: "./assets/images/suv.png",
      desc: "",
      bgBanner: "./assets/images/hero-banner.png"
    }
  ];
