-
  tbNav = [
      {
        title: "About us",
        href: "#about-us"
      },
      {
        title: "Discover",
        href: "#discover"
      },
      {
        title: "Roadmap",
        href: "#roadmap"
      },
      {
        title: "Tokennomics",
        href: "#tokennomics"
      }
    ];
