-
  tbNav = [
      {
        title: "About us",
        href: "#about-us"
      },
      {
        title: "DEPPTOKEN",
        href: "#depptoken"
      },
      {
        title: "Crytocurrency Exchanges",
        href: "#exchanges"
      },
      {
        title: "Roadmap",
        href: "#roadmap"
      },
      {
        title: "Token Economy",
        href: "#token-economy"
      }
    ];
