-
  tbPlatformRoadmap = [
    {
      month: "August",
      year: 2020,
      content: ["Business Plan", "White paper"]
    },
    {
      month: "January",
      year: 2021,
      content: ["Intelligent Liquidity", "Short Term Margin Trading", "Risk Free Leveraged Trading"]
    },
    {
      month: "October",
      year: 2021,
      content: ["Algorithmic Cryptocurrency Trading"]
    }
  ];
