-
  tbPlatformRoadmap = [
    {
      title: "Phase 1",
      content: ["Website launch", "Build up social media", "Building Telegram Community", "Issue token"]
    },
    {
      title: "Phase 2",
      content: ["Release Pre-sale Details", "List on CoinGecko", "List on CoinMarketCap"]
    },
    {
      title: "Phase 3",
      content: ["Issue NFTs", "Collaborate with other projects", "Start global advertising campaigns"]
    },
    {
      title: "Phase 4",
      content: ["Initiate strategic investor partnerships", "Continue ecosystem development & marketing push", "Release the Pirate Metaverse"]
    }
  ];
