-
  tbSocials = [
      {
        title: "Twitter",
        icon: "fa fa-twitter-square",
        href: "https://twitter.com/DeppcoinOA"
      },
      {
        title: "Telegram",
        icon: "fa fa-telegram",
        href: "https://t.me/depptoken"
      },
      {
        title: "PinkSale",
        icon: "",
        href: "https://www.pinksale.finance/launchpad/0xF90D94BBaB1f7b285e64255508e5720EfdC1D8a7?chain=BSC"
      }
    ];
