-
  tbSUV = {
    whoAreWe: {
      title: "Who Are We?",
      image: "./assets/images/img-2.png",
      desc: "DEPPTOKEN Short-term Trading for Ultimate Value is a cryptocurrency brokerage platform enabling clients to trade different currencies on cryptocurrency exchange platforms. We focus on short-term leveraged trading and allow clients to do margin trading on cryptocurrency exchanges",
      suvData: [
        {
          image: "./assets/images/icon-2.svg",
          title: "Margin Trading",
          desc: "Provide intelligent technical analysis"
        },
        {
          image: "./assets/images/icon-3.svg",
          title: "Leveraged Trading",
          desc: "Allow for leveraged trading for various exchanges "
        },
        {
          image: "./assets/images/icon-4.svg",
          title: "Intelligent Liquidity",
          desc: "Aim for automatic liquidity based on the configuration parameters set in the interface as soon as possible"
        },
        {
          image: "./assets/images/icon-5.svg",
          title: "Transparency to Traders",
          desc: "Envisage transparency to all users of the platform"
        },
        {
          image: "./assets/images/icon-6.svg",
          title: "Knowledge of Cryptocurrency Exchanges",
          desc: "Designed to take advantage of different cryptocurrency exchanges and personalize traders depending on their profiles"
        },
        {
          image: "./assets/images/icon-7.svg",
          title: "Cross-Platform Currency Exchanges",
          desc: "Offer traders with the flexibility to trade from any browsing devices such as mobiles/desktops"
        },
        {
          image: "./assets/images/icon-8.svg",
          title: "Security",
          desc: "Ensure that the security of financial transactions is enacted and is carried out in a foolproof manner"
        },
        {
          image: "./assets/images/icon-9.svg",
          title: "Speed Matching",
          desc: "Allow for a quick transaction and trading match to benefit traders"
        },
        {
          image: "./assets/images/icon-10.svg",
          title: "Advanced Price Alerting System",
          desc: "Provide a proactive price alerting system to keep traders informed of all the possible movements in the exchange market"
        }
      ]
    },
    whyUs: {
      title: "Why Us?",
      image: "./assets/images/img-3.png",
      desc: "DEPPTOKEN Short-term Trading for Ultimate Value is created from a framework of technology and business blocks, combined with the expertise of years of trading experience on cryptocurrency exchanges.",
      suvData: [
        {
          desc: "We use common resources to create a network of crypto exchanges with traders and provide a seamless interface for traders to connect with crypto exchanges."
        },
        {
          desc: "We offer a simple interface for traders to trade on the exchanges, which encourages investors to further invest and boosts cryptocurrency circulation."
        },
        {
          desc: "DEPPTOKEN currency brings an inherent ability to connect to multiple exchanges, take advantage of the exchanges, and give traders the flexibility which includes leverages and margin trading."
        },
        {
          desc: "We allow for short-term leveraged trading permitting traders to borrow in a volatile market and shareable profit. Our platform acts as an intermediary to ensure that traders are connected to the right exchange."
        }
      ]
    },
    howDoWeWork: {
      title: "How Do We Work?",
      image: "./assets/images/img-4.png",
      desc: "DEPPTOKEN Short-term Trading for Ultimate Value allows traders to trade with DEPPTOKEN currency at various exchanges from a single transparent screen. This screen allows the opening of an account with an exchange, trade with the exchange, book the profit or ensure liquidity to cash and all these things must be done in a volatile market in the shortest time possible.",
      suvData: [
        {
          title: "Transparency",
          desc: "We offer transparency to traders and seamlessly enable short-term margin trading. As Crypto trading is complex, we give the right recommendation on investment in crypto assets and allow full support of underlying currencies like Bitcoin and Ethereum. As our platform is backed on cryptocurrency expertise, it provides content for traders to take an educated decision for ensuring that traders can optimize profits and minimize loss."
        },
        {
          title: "Technical Analysis",
          desc: "We also provide indicators on the direction of the market, based on the access to different crypto exchanges. These indicators tell about the oversold/overbought crypto currencies. The biggest challenge in the cryptocurrency market is the application behind cryptocurrency which people find useful. The crypto asset circulation depends on the application and therefore, technical analysis of the application usefulness will enable the platform in the right manner."
        }
      ]
    }
  };
