-
  tbTokenomics = {
    infoData: [
      {
        title: "Coin Name",
        desc: "DEPP TOKEN"
      },
      {
        title: "Coin Symbol",
        desc: "DEPP"
      },
      {
        title: "Total Supply Amount",
        desc: "50,000,000"
      },
      {
        title: "Liquidity Lock Up Period",
        desc: "365 days after pool ends"
      },
    ],
    poolData: [
      {
        label: "PRE-SALE",
        value: 30,
        image: "./assets/images/water-red.png"
      },
      {
        label: "LIQUIDITY",
        value: 18,
        image: "./assets/images/water-blue.png"
      },
      {
        label: "LOCKED",
        value: 22,
        image: "./assets/images/water-yellow.png"
      },
      {
        label: "BURNT",
        value: 30,
        image: "./assets/images/water-purple.png"
      }
    ]
  };
