-
  tbTradingView = [
    {
      coinName: "Coin Symbol",
      token: "DEPP"
    },
    {
      coinName: "Total Supply Amount",
      token: "80,000,000"
    },
    {
      coinName: "Unit Price",
      token: "0.8 USD"
    },
    {
      coinName: "Standard",
      token: "ERC-20"
    },
    {
      coinName: "Decimal",
      token: "18"
    }
  ];
