.suv-box {
  background-color: transparent;

  &-card {
    @include transition(all 0.25s ease);

    &:hover {
      box-shadow: $box-shadow-lg;
    }

    .card-img-top {
      @include rem(
        (
          width: 72px,
          height: 72px,
        )
      );
    }
  }

  &__section {
    position: relative;
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &-ellipse-1 {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      border-radius: 100%;
      width: 675px;
      height: 314px;
      background: rgba(255, 0, 0, 0.2);
      filter: blur(200px);
      transform: translate(-50%, -50%);

      @include media-breakpoint-up("xl") {
        left: 15%;
        top: auto;
        bottom: 0;
        transform: translate(0, 0);
      }
    }

    &-ellipse-2 {
      position: absolute;
      right: -50%;
      bottom: -50%;
      z-index: 1;
      border-radius: 100%;
      width: 675px;
      height: 314px;
      background: rgba(112, 0, 255, 0.4);
      filter: blur(200px);
    }
  }
}
