.suv-crypto {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(5, 1fr);
    }

    &:hover {
      .suv-crypto__image {
        opacity: 0.7;
        filter: grayscale(100%);
      }
    }
  }

  &__item {
    &:hover {
      .suv-crypto__image {
        border-color: $suv-main-orange !important;
        box-shadow: 0 10px 30px rgba($suv-main-orange, 0.1);
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    @include transition(all .3s ease);

    &::before {
      @include paddingTop(210, 98);
    }

    &:hover {
      opacity: 1 !important;
      filter: grayscale(0) !important;
    }

    img {
      @include center();
    }
  }
}
