.suv-hero {
  background: transparent;

  &__wrap {
    position: relative;
    height: 100%;

    &-main {
      position: relative;
      z-index: 2;
    }
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-bg {
      width: 100%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top center;
    }
  }
}
