.suv-hero {
  background: transparent;

  &__wrap {
    position: relative;
    height: 100%;

    &-main {
      position: relative;
      z-index: 2;
    }
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-bg {
      width: 100%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top center;
    }

    &-ellipse-1 {
      position: absolute;
      left: 15%;
      bottom: 0;
      z-index: 1;
      border-radius: 100%;
      width: 675px;
      height: 314px;
      background: rgba(112, 0, 255, 0.4);
      filter: blur(150px);
    }

    &-ellipse-2 {
      position: absolute;
      right: 15%;
      bottom: 25%;
      z-index: 1;
      border-radius: 100%;
      width: 675px;
      height: 314px;
      background: rgba(255, 0, 199, 0.4);
      filter: blur(150px);
    }
  }
}
