.suv-platform {
  background-color: $suv-custom-7;

  &__roadmap {
    position: relative;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 195% bottom;
    box-shadow: $box-shadow-lg;

    @include transition(all .3s ease);
    @include media-breakpoint-up(md) {
      background-position: right bottom;
    }
    //@include media-breakpoint-up(lg) {
    //  background-position: 195% 365%;
    //}
    @include media-breakpoint-up(lg) {
      background-position: 150% 150%;
    }

    &:hover {
      box-shadow: 0 4px 40px rgba($suv-main-red, 0.12);
    }

    ul li:not(:last-child) {
      @include rem((
        margin-bottom: 10px,
      ));
    }

    &-icon {
      transform: translateX(-50%);

      @include absolute(0, null, null, 50%);
      @include rem((
        margin-top: -16px,
      ));

      img {
        @include rem((
          height: 33px,
        ));
      }
    }
  }
}
