.suv-platform {
  background-color: transparent;

  &__content {
    counter-reset: roadmap;
  }

  &__roadmap {
    position: relative;
    counter-increment: roadmap;

    &-header {
      background-image: url("../images/line.png");
      background-repeat: no-repeat;
      background-position: bottom left;

      h3::before {
        content: "0" counter(roadmap);
        font-weight: 400;
        opacity: 0.1;

        @include rem(
          (
            font-size: 96px,
            margin-right: 12px,
          )
        );

        @include media-breakpoint-up(lg) {
          @include rem(
            (
              font-size: 120px,
              margin-right: 24px,
            )
          );
        }
      }
    }

    ul li:not(:last-child) {
      @include rem(
        (
          margin-bottom: 10px,
        )
      );
    }
  }
}
