//- Elements
.suv-element
  .suv-element__ellipse.suv-element__ellipse-1(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-2(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-3(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-4(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-5(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-6(data-scroll-parallax="init")
  .suv-element__ellipse.suv-element__ellipse-7(data-scroll-parallax="init")
