//- Languages
li.dropdown-divider.d-lg-none
li.nav-item.dropdown.ml-lg-auto
  a#navbarDropdown.nav-link.dropdown-toggle.d-flex.align-items-end(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    img.align-middle.mr-2(src="./assets/images/en.png", alt="English")
    span.align-middle.text-uppercase.fs-14.font-weight-medium.mr-2 ENG
    i.fa.fa-chevron-down.align-self-center.fs-12.ml-auto.ml-lg-0(aria-hidden="true")

  .dropdown-menu.shadow(aria-labelledby='navbarDropdown')
    a.dropdown-item.d-flex.align-items-center(href='#EN')
      img.align-middle.mr-2(src="./assets/images/en.png", alt="English")
      span.align-middle.text-uppercase.fs-14.font-weight-medium ENG
    a.dropdown-item.d-flex.align-items-center(href='#KO')
      img.align-middle.mr-2(src="./assets/images/ko.png", alt="한국어")
      span.align-middle.text-uppercase.fs-14.font-weight-medium 한국어
