//- Footer

block footer
  footer.suv-footer.py-40.position-relative
    -
      var date = new Date;
      var dateY = date.getFullYear();

    .text-center.fs-14 Copyright &copy; #{dateY} DEPPTOKEN – All rights reserved

block append footer
  include ../extras/go-top
