//- Header
nav.navbar.navbar-expand-lg.bg-white.shadow-sm.sticky-top
  .container
    div.d-flex.align-items-center.w-100
      a.navbar-brand.mr-lg-60(href='/'): img(src="./assets/images/brand/logo.png", alt="DEPPTOKEN")
      button.navbar-toggler.collapsed.ml-auto.ml-lg-0(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-bar

      include ../extras/navigation
