//- Scripts
script(src="./assets/libraries/common/popper.min.js")
script(src="./assets/libraries/common/bootstrap.min.js")
script(src="./assets/libraries/waypoints/jquery.waypoints.min.js")
script(src="./assets/libraries/scrollParallax.js")
script(src="./assets/js/all.bundle.js")
