extends ./layouts/master.pug

block title
  title DEPPTOKEN Platform for Short-term Leverage Trading - DEPPTOKEN.IO

  - var pageURL = "/";

block content
  section#hero.suv-section
    include ./components/hero-banner

  section#about-us.suv-section
    include ./components/about-us

  section#discover.suv-section
    include components/suv

  section#roadmap.suv-section
    include ./components/platform-roadmap

  section#tokennomics.suv-section
    include ./components/token-economy
