//- About us
include ../stores/tbAboutUs
include ./heading

each about in tbAboutUs
  .suv-about.pt-70.pt-xl-100
    .container
      .row.justify-content-center
        .col-lg-10.col-xl-9
          .suv-about__content.mb-30.mb-lg-60(data-waypoints="init", data-effect="fadeInLeft")
            +heading("text-center mb-30", about.title, "text-capitalize text-white fs-40 fs-md-32 fs-lg-50 mb-10")
            .text-md-center= about.desc

      .row
        each data in about.listData
          .col-md-6.col-lg-4.mb-5.mb-xl-80
            .suv-about__item.p-4.bg-depp-light-08.rounded-lg.h-100(data-waypoints="init", data-effect="fadeInUp")
              .suv-about__item-title.text-white.font-weight-semi-bold.fs-20.mb-3= data.title
              .suv-about__item-desc= data.desc
