//- Platform Roadmap
include ../stores/tbPlatformRoadmap
include ./heading
include ../mixins/list

.suv-platform.pt-70.pt-xl-100
  .container
    div(data-waypoints="init", data-effect="fadeInUp")
      +heading("text-center mb-50 mb-lg-60", "Roadmap", "text-capitalize text-white fs-40 fs-md-32 fs-lg-50 mb-10")

    .suv-platform__content
      .row
        each item, index in tbPlatformRoadmap
          .col-md-6.mb-50.mb-lg-80
            .suv-platform__roadmap(data-waypoints="init", data-effect="fadeInLeft")
              .suv-platform__roadmap-header.mb-32.pb-24
                h3.fs-32.fs-lg-40.text-uppercase.text-white.lh-1.d-inline-block.mb-0= item.title

              +list(item.content, "suv-platform__content mb-0", "fa fa-circle mr-2 fs-8 text-depp-pink")
