//- SUV
include ../stores/tbSUV
include ./heading
include ../atoms/cardItem
-
  var whoAreWe = tbSUV.whoAreWe;
  var whyUs = tbSUV.whyUs;
  var howDoWeWork = tbSUV.howDoWeWork;

.suv-box.pt-70.pt-xl-100
  .container
    div(data-waypoints="init", data-effect="fadeInUp")
      +heading("text-center mb-50 mb-lg-60", "Exploring the Pirate Metaverse", "text-white fs-40 fs-md-32 fs-lg-50 mb-10")

    .suv-box__section
      .suv-box__element
        .suv-box__element-bg(style=`background-image: url(./assets/images/skull.png);`)
      .row.align-items-center
        .col-lg-6.text-center(data-waypoints="init", data-effect="fadeInLeft")
          img.suv-box-heading__img.mb-50.mb-lg-0(src="./assets/images/treasure-map.png", alt="Treasure Map")

        .col-lg-6(data-waypoints="init", data-effect="fadeInRight")
          .suv-box-heading
            h2.suv-box-heading__title.text-white.fs-28.fs-md-32.mb-3 Treasure MAP
            .suv-box-heading__desc Depp Coin will set up its Metaverse in the future and its black market, where you can sell your tokens to various anonymous creatures from the outer world. The first owners of Depp Token will be able to look for mystery islands, discover treasures, build their naval army and rule an empire of prosperity that lasts for eternity.
