//- Token Economy
include ../stores/tbTokenEconomy
include ./heading

.suv-token.py-70.py-xl-100
  .container
    div(data-waypoints="init", data-effect="fadeInUp")
      +heading("text-center mb-50 mb-lg-60", "Token Economy", "text-capitalize fs-40 fs-md-32 fs-lg-60 mb-10")

    .suv-token__content
      .row.justify-content-center
        .col-md-9.col-lg-6
          div(data-waypoints="init", data-effect="fadeInLeft")
            h3.fs-24.mb-30.text-center Structure

            table.table.border.fs-14.mb-50.mb-lg-100
              thead
                tr.bg-suv-main-red.text-white
                  th.font-weight-medium.border-bottom-0 Coin Name
                  th.font-weight-medium.border-bottom-0 DEPP TOKEN
              tbody
                each item in tbTradingView
                  tr
                    td= item.coinName
                    td= item.token

      .row.justify-content-center
        .col-md-9.col-lg-8
          div(data-waypoints="init", data-effect="fadeInRight")
            h3.fs-24.mb-30.mb-lg-100.text-center Allocation
            div.text-center: img(src="./assets/images/img-8.png", alt="Allocation")
